*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-01: #9D9171; 
    --cor-02: #B07156;
    --cor-03: #C4A287;
    --cor-04: #090A0B;
    --cor-05: #343C42;
    --cor-06: #FDFCFB;
    --fonte-01: "Courier New";
    --fonte-02: "Arial";
}
#corpo{
    background-color: var(--cor-06);
}
#cabecalho{
    font-family: var(--fonte-01);
    letter-spacing: 0.3rem;
    text-align: center;
    color: var(--cor-06);
    background-color: var(--cor-03);
    padding: 20vh 0;
}
#cabecalho-titulo{
    font-size: 2.5rem;
    text-transform: uppercase;
}
#cabecalho-subtitulo{
    background-color: var(--cor-03);
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
#principal{
    font-family: var(--fonte-02);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    color: var(--cor-04);
    background-color: var(--cor-06);
}
.container-texto{
    margin: 0 5vw;
}
.container-texto p{
    line-height: 1.5rem;
    margin-bottom: 5vh;
}
#container-navegacao{
    text-align: center;
    margin: 0 10vw;
}
.navegacao-item{
    font-size: 0.8rem;
    background-color: var(--cor-01);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}
#container-botao-voltar{
    text-align: center;
}
#rodape{
    background-color: var(--cor-05);
    color: var(--cor-06);
    font-family: var(--fonte-02);
    font-size: 0.8rem;
    text-align: center;
    padding: 20vh 0;
}
/*LINKS*/
.navegacao-link{
    letter-spacing: 0.15rem;
    font-family: var(--fonte-01);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor-06);
    padding: 10px;
}
#botao-voltar{
    text-decoration: none;
    background-color: var(--cor-02);
    color: var(--cor-06);
    border-radius: 25%;
    padding: 10px;
}
#desenvolvedor-link,
#github-link{
    color: var(--cor-06);
    text-decoration: none;
}
/*HOVERS*/
.navegacao-item:hover{
    background-color: var(--cor-02);
}
#botao-voltar:hover{
    background-color: var(--cor-01);
}
#desenvolvedor-link:hover,
#github-link:hover{
    text-decoration: underline;
}

/*margin-top*/
#principal,
#container-navegacao,
#container-botao-voltar,
#rodape{
    margin-top: 20vh;
}