*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-01: #7F5039; 
    --cor-02: #B67343;
    --cor-03: #E08D4B;
    --cor-04: #000000;
    --cor-05: #909090;
    --cor-06: #FFFFFF;
    --fonte-01: "Courier New";
    --fonte-02: "Arial";
}
#cabecalho{
    font-family: var(--fonte-01);
    color: var(--cor-04);
    text-align: center;
    margin: 20vh 0;
}
#cabecalho-titulo{
    background-color: var(--cor-06);
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}
#cabecalho-subtitulo{
    background-color: var(--cor-03);
    font-size: 1.5rem;
}
#principal{
    font-family: var(--fonte-02);
    font-size: 1rem;
    text-align: justify;
    color: var(--cor-04);
    background-color: var(--cor-06);
    margin: 0 5vh 5vh;
}
.container-texto p{
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
#container-lista{
    text-align: center;
    margin: 50px 40px 0 40px;
}
.lista-item{
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: var(--cor-01);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}
#container-botao-voltar{
    margin: 50px 0;
    text-align: center;
}
#rodape{
    background-color: var(--cor-05);
    color: var(--cor-06);
    font-family: var(--fonte-02);
    font-size: 0.8rem;
    text-align: center;
    padding: 5vh;
}
/*LINKS*/
.item-link{
    text-decoration: none;
    color: var(--cor-06);
    padding: 10px;
}
#botao-voltar{
    text-decoration: none;
    background-color: var(--cor-02);
    color: var(--cor-06);
    border-radius: 25%;
    padding: 10px;
}
#desenvolvedor-link,
#github-link{
    color: var(--cor-06);
    text-decoration: none;
}
/*HOVERS*/
.lista-item:hover{
    background-color: var(--cor-02);
}
#botao-voltar:hover{
    background-color: var(--cor-01);
}
#desenvolvedor-link:hover,
#github-link:hover{
    text-decoration: underline;
}
