@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --cor-de-fundo: #F1F0EA;
    --cor-de-realce: #2E3532;
    --cor-paleta-01: #FF6663;
    --cor-paleta-02: #BFD7EA;
    --cor-paleta-03: #FFC857;
    --fonte-principal: "Inter", sans-serif ;
    --fonte-secundaria: ;
}
body {
    padding: 2.5% 5%;
    background-color: var(--cor-de-fundo);
    font-size: 36px;
}
#titulo-pagina {
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: var(--cor-de-realce);
}
#texto {
    font-family: var(--fonte-principal);
    font-size: 0.5em;
    text-align: center;
    line-height: 1.5;
    margin: 10px 20%;
}
#container-01,
#container-02,
#container-03 {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}
.container-01__item,
.container-02__item,
.container-03__item {
    width: 100vw;
    height: 150px;
    border: 1px solid var(--cor-de-realce);
}
.container-01__item {
    background-color: var(--cor-paleta-01);
}
.container-02__item {
    background-color: var(--cor-paleta-02);
}
.container-03__item {
    background-color: var(--cor-paleta-03);
}
