@import url(style.css);

.container-imagem{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}
.imagem{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.container-texto{
    text-align: center;
    margin: 50px 30px;
}
.container-texto >p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    color: var(--cor-06);
}
.container-depoimento{
    text-align: center;
    margin: 50px 30px;
}
.depoimento{
    color: var(--cor-06);
}
.depoimento-nome{
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}
.depoimento-texto{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--cor-06);
}