:root{
    --fbcor-01: #B6C2D9; 
    --fbcor-02: #697268;
    --fbcor-03: #343C42;
    --fbcor-04: #9D9171;
    --fbcor-05: #95A3A4;
    --fbcor-06: #;
    --fonte-01: "Courier New";
    --fonte-02: "Arial";
}

/*DEFININDO O CONTAINER COMO FLEXBOX*/
.container-quadro{
    height: 30vh;
    margin: 0 10vw;
    background-color: var(--fbcor-01);
}
.quadro-item{
    height: 10vh;
    width: 15vw;
}

/*DEFININDO OS ITENS DO CONTAINER*/
#item_justify-content_a{
    background-color: var(--fbcor-02);
}
#item_justify-content_b{
    background-color: var(--fbcor-03);
}
#item_justify-content_c{
    background-color: var(--fbcor-04);
}

/*JUSTIFY CONTENT*/

/*justify-content-flex-start*/
#justify-content-flex-start{
    display: flex;
    justify-content: flex-start;
}

/*justify-content-flex-end*/
#justify-content-flex-end{
    display: flex;
    justify-content: flex-end;
}

/*justify-content-flex-center*/
#justify-content-flex-center{
    display: flex;
    justify-content: center;
}
/*justify-content-flex-space-between*/
#justify-content-flex-space-between{
    display: flex;
    justify-content: space-between;
}

/*justify-content-flex-space-around*/
#justify-content-flex-space-around{
    display: flex;
    justify-content: space-around;
}
/*justify-content-flex-space-evenly*/
#justify-content-flex-space-evenly{
    display: flex;
    justify-content: space-evenly;
}

/*ALIGN ITEMS*/

/*align-items-flex-start*/
#align-items-flex-start{
    display: flex;
    align-items: flex-start;
}

/*align-items-flex-end*/
#align-items-flex-end{
    display: flex;
    align-items: flex-end;
}