/*DEFININDO O CONTAINER COMO FLEXBOX*/
.container-output {
    display: flex;
}
/*DEFININDO O CONTAINER USANDO JUSTIFY-CONTENT*/
#container-output-01 {
    justify-content: flex-start;
}
#container-output-02 {
    justify-content: flex-end;
}
#container-output-03 {
    justify-content: center;
}
#container-output-04 {
    justify-content: space-between;
}
#container-output-05 {
    justify-content: space-around;
}
#container-output-06 {
    justify-content: space-evenly;
}
/*DEFININDO O CONTAINER USANDO ALIGN-ITEMS*/
#container-output-07 {
    align-items: flex-start;
}
#container-output-08 {
    align-items: flex-end;
}
#container-output-09 {
    align-items: center;
}
#container-output-10 {
    align-items: stretch;
    height: 250px;
}
#container-output-11 {
    align-items: baseline;
}
#container-output-12 {
    align-content: flex-start;
}
/*DEFININDO O CONTAINER COMO FLEX-WRAP*/
.container-output-flex-wrap {
    height: 300px;
    flex-wrap: wrap;
}
/*DEFININDO O CONTAINER USANDO ALIGN-CONTENT*/
#container-output-13 {
    align-content: flex-end;
}
#container-output-14 {
    align-content: center;
}
#container-output-15 {
    align-content: stretch;
}
#container-output-16 {
    align-content: space-between;
}
#container-output-17 {
    align-content: space-around;
}
/*DEFININDO OS ITENS DO CONTAINER*/
.output-item-width {
    width: 100px;
}
.output-item-width-p {
    width: 200px;
}
.output-item-width-m {
    width: 250px;
}
.output-item-width-g {
    width: 300px;
}
.output-item-height {
    height: 100px;
}
.output-item-height-p {
    height: 200px;
}
.output-item-height-m {
    height: 250px;
}
.output-item-height > p {
    margin-top: 20px;
}
.output-item-height-p > p {
    margin-top: 30px;
}
.output-item-height-m > p {
    margin-top: 40px;
}