@charset "UTF-8";
:root {
    --cor-principal: #000000;
    --cor-complementar-01: #FFFFFF;
    --cor-complementar-02: #508AA8;
    --fonte-principal: Courier;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor-principal);
    font-family: var(--fonte-principal);
    color: var(--cor-complementar-01);
    text-align: center;
    line-height: 1.5rem;
}

.cabecalho {
    margin: 0px 20px;
}
.cabecalho__titulo {
    padding: 50px 10px;
    font-size: 3rem;
}

.cabecalho__texto {
    padding: 10px 10px;
    font-size: 1rem;
    color: var(--cor-principal);
    background-color: var(--cor-complementar-02);
}

.principal {
    margin: 20px 20px;
}

.secao {
    padding: 25px 0px;
}

.secao__titulo {
    font-size: 2rem;
}

.rodape {
    background-color: var(--cor-complementar-02);
    color: var(--cor-principal);
    font-size: 0.75rem;
    padding: 20px;
}

.rodape_link {
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: 900;
    padding: 0px 2px;
}


.rodape_link:hover {
    background-color: var(--cor-principal);
    color: var(--cor-complementar-01);
}