.topico__titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    letter-spacing: 3px;
    margin: 20px auto;
    width: 90%;
}
.topico__codigo {
    font-family: var(--fonte-secundaria);
    font-weight: bold;
    font-size: 0.8em;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px auto;
    width: 90%;
}
.topico__codigo__seletor {
    color: var(--cor-codigo-seletor);
    padding-left: 20px;
}
.topico__codigo__atributo {
    color: var(--cor-codigo-atributo);
    padding: 0 0 0 50px;
}
.topico__codigo__valor {
    color: var(--cor-codigo-valor);
}
.codigo__nota {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 20px auto;
    width: 90%;
}
@media screen and (max-width: 768px) {
    .topico__codigo {
        font-weight: normal;
        font-size: 0.6em;
    }
    .topico__codigo__seletor {
        padding-left: 10px;
    }
    .topico__codigo__atributo {
        padding: 0 0 0 30px;
    }
    .codigo__nota {
        font-size: 0.6em;
    }
}