@charset "UTF-8";

@import url('header.css');
@import url('codigo.css');
@import url('flexbox.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #FFFFFF;
    --cor-de-topico: #F9FBF2;
    --cor-de-container: #344966;
    --cor-de-item: #EC7357;
    --cor-codigo-seletor: #BC8034;
    --cor-codigo-atributo: #63B0CD;
    --cor-de-fundo-rodape: #ECEBE4;
    --cor-codigo-valor: #57A773;
    --fonte-principal: 'Roboto', Arial, Helvetica, sans-serif;
    --fonte-secundaria:'Courier New', Courier, monospace;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-size: 24px;
}
.topico {
    background-color: var(--cor-de-topico);
    width: 90%;
    margin: 0 auto 20px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px darkgray;
}
.rodape {
    background-color: var(--cor-de-fundo-rodape);
    color: black;
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    text-align: center;
    margin: 5% 0 0 0;
    padding: 2% 0;
    line-height: 1.6em;
}
.rodape__link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}
.rodape__link:hover {
    color: var(--cor-de-container);
    background-color: var(--cor-de-topico);
    border-radius: 3px;
}
@media screen and (max-width: 768px) {
    .rodape {
        font-size: 0.6em;
    }
}