@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --cor-principal: #F37748;
    --cor-secundaria: #FFD166;
    --cor-de-fundo: #F4F3EE;
    --cor-de-destaque: #000000;
    --cor-rodape-fundo: #CAC4CE;
    --cor-rodape-borda: #463F3A;

    --fonte-principal: 'Bebas Neue', 'Times New Roman', Times, serif;
    --fonte-secundaria: 'Quicksand', Arial, Helvetica, sans-serif;
    --fonte-destaque: Arial;
}
/* ::-webkit-scrollbar {width: 0px; height: 0px;} */
body {
    background-color: var(--cor-de-fundo);
    font-size: 20px;
}
main {
    margin: 0% 5%;
}
h1 {
    font-family: var(--fonte-principal);
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 2em;
    margin: 5% 0%;
}
h2 {
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-principal);
    color: var(--cor-de-destaque);
    text-align: center;
    padding: 20px;
    margin: 5% 15%;
    border: solid 2px var(--cor-de-destaque);
    border-radius: 10px;
    font-size: 1.2em;
}
label {
    font-size: 0.7em;
}
h3 {
    font-size: 1.5em;
}
h2:hover {
    background-color: var(--cor-secundaria);
}
.container {
    width: 100%;
}
.imagem,
.imagem-aguarde,
.toque__imagem,
.toque__video {
    display: block;
    margin: 5% auto;
}
.imagem,
.toque__imagem {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.imagem {
    background-image: url('images/atabaque.png');
    background-size: cover;
}
body > p {
    text-align: center;
    margin-bottom: 5%;
    font-family: var(--fonte-secundaria);
}
body > p > a {
    text-decoration: none;
    color: var(--cor-de-destaque);
    padding: 5px;
}
body > p > a:hover {
    background-color: var(--cor-principal);
    border-radius: 5px;
    color: var(--cor-de-fundo);
}
footer {
    background-color: var(--cor-rodape-fundo);
    color: var(--cor-de-destaque);
    font-family: var(--fonte-secundaria);
    line-height: 1.5em;
    font-size: 0.7em;
    text-align: center;
    padding: 2%;
    border-top: dotted 1px var(--cor-rodape-borda);
}
footer > p > a {
    color: var(--cor-de-destaque);
    padding: 3px;
    text-decoration: none;
    font-weight: bold;
    line-height: 2em;
}
footer > p > a:hover {
    background-color: var(--cor-secundaria);
    border-radius: 7px;
}
.tutorial {
    margin: 5% 15%;
}
.toque__titulo {
    font-family: var(--fonte-secundaria);
    text-align: center;
    padding: 15px;
    margin: 5% 15%;
    font-size: 1em;
}
.toque__video {
    width: 250px;
}

/*Início das classes para exibir/ocultar lista*/
.lista__botao:checked ~ .lista__menu {
    display: block;

}
.lista__menu, 
.lista__botao {
    display: none;
}

/*fim  das classes para exibir/ocultar lista*/

.lista__menu {
    list-style-type: none;
}
.lista__item {
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    padding: 15px;
    margin: 2% 20%;
    border: solid 2px var(--cor-de-destaque);
    border-radius: 10px;
    font-size: 0.5em;
}
.lista__link {
    text-decoration: none;
    color: var(--cor-de-destaque);
}
.tutorial {
    text-decoration: none;
    color: var(--cor-de-destaque);
}
.lista__item {
    background-color: var(--cor-de-fundo);
}
.lista__item:hover {
    text-decoration: underline;
    background-color: var(--cor-secundaria);
} 
@media screen and (min-width: 1024px) { /*and (max-width: 1024px)*/
    main {
        margin: 0% 10%;
    }
    h1 {
        margin: 5% 0%;
        font-size: 3em;
    }
    h2 {
        font-size: 1.5em;
        margin: 2% 15%;
    }
    h3 {
        font-size: 1em;
    }
    .lista__link {
        font-size: 1.5em;
    }
    .imagem {
        width: 200px;
        height: 200px;
    }
    footer > p {
        font-size: 1em;

    }
}