* {
    margin: 0;
    padding: 0;
}

:root {
    /*CORES*/
    --cor-01: #F37748;
    --cor-02: #628B48;
    --cor-03: #A41623;
    --cor-04: #000000;
    --cor-05: #909090;
    --cor-06: #FFFFFF;
    /*FONTES*/
    --fonte-01: 'Courier New';
    --fonte-02: 'Arial';
    /*MEDIDAS*/
    --medida-01: 20vh;
    --medida-02: 10vh;
}
#cabecalho{
    font-family: var(--fonte-01);
    text-align: center;
    margin-top: var(--medida-01);
}
#cabecalho__titulo{
    font-weight: bold;
    font-size: 2.4rem;
}
#cabecalho__subtitulo{
    font-size: 4rem;
    text-transform: uppercase;
    background-color: var(--cor-01);
    color: var(--cor-06);
    padding: 10px;
}
#container-imagem{
    display: flex;
    justify-content: center;
}
#cabecalho__imagem{
    margin-top: var(--medida-01);
    height: 300px;
    border-radius: 50%;
}
#conteudo-principal{
    text-align: center;
    margin-top: var(--medida-01);
    margin-bottom: var(--medida-02);
}
#container-lista{
    margin: 0 50px;
}
.lista-item{
    background-color: var(--cor-01);
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 10px;
}
#container-botao-voltar{
    margin-top: var(--medida-02);
}
#rodape{
    font-family: var(--fonte-02);
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5rem;
    color: var(--cor-06);
    background-color: var(--cor-05);
    padding: var(--medida-02);
}
/*LETRAS DOS PONTOS*/
#titulo-ponto{
    font-family: var(--fonte-01);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 5vh;
}
#letra-ponto{
    font-family: var(--fonte-02);
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 2rem;
}
/*LINKS*/
.item-link{
    font-family: var(--fonte-02);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-06);
    padding: 10px 0;
}
#botao-voltar{
    font-family: var(--fonte-02);
    font-size: 2rem;
    line-height: 2.5rem;
    text-decoration: none;
    background-color: var(--cor-03);
    color: var(--cor-06);
    padding:10px;
    border: solid 0px var(--cor-01);
    border-radius: 50%;
}
.rodape__link{
    color: var(--cor-06);
    text-decoration: none;
}
/*HOVERS*/
.lista-item:hover{
    background-color: var(--cor-02);
}
#botao-voltar:hover{
    background-color: var(--cor-02);
    border: solid 0px var(--cor-01);
}
.rodape__link:hover{
    text-decoration: underline;
}

/*FALTA
- RESPONSIVIDADE
*/