        /* Estilo para a Chave */
.chave {
    font-family: var(--fonte-01);
    color: var(--cor-02);
    font-weight: 900;
    text-transform: uppercase;
}

/* Estilo para o Valor */
.valor {
    font-family: var(--fonte-01);
    margin: 10px;
}

/* Estilo para remover as bolinhas da lista (opcional) */
#simbolos {
    list-style: none;
    padding: 0;
}