

body{
    background-color: #FFF3E0;
    padding: 10px 50px;
}

.container{
    width: 100%;
    margin: auto;
}
.titulo1{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: #FFB627;   
    background-color: #CC5803;
    padding: 30px;
    margin-bottom: 10px;  
    border-radius: 10px;
    border: #FFB627 3px solid;
}

.paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;
    background-color: #FFFFFF;
    text-indent: 30px;
    padding: 50px 90px;
    
}

.conteudo{
    background-color: #472d30;
    padding: 20px;
    width: 1150px;
    margin: auto;
}

.paleta{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin-top: 5px;
}


#cor1{
    background-color: #ffc971;
}
#cor2{
    background-color: #FFB627;
}
#cor3{
    background-color: #FF9505;
}

#cor4{
    background-color: #CC5803;
}

footer{
    background-color: #FFFFFF;
    opacity: 60%;
    text-align: center;
    padding: 10px;
}