body{
	background-color:#E3F0FF;
	font-family:"Inter";
}

.formulario{
	padding:48px 32px;
	background-color:#FFFFFF;
	border-radius:16px;
}

label{
font-weight:500;
	font-size:18px;
	color:#144480;
}

input{
	border:1px solid #DCDCDC;
	border-radius:8px;
	padding:16px;
	box-shadow:2px 2px 5px rgba(20, 68, 128, 0.1);
	margin-bottom:20px;
}

button{
	font-size:24px;
	font-weight:700;
	padding:16px;
	border-radius:8px;
	border:none;
	background-color:#144480;
	color:#FFFFFF;
}