@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #508CA4, #BFD7EA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px  15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0A8754;
    text-align: center;
    text-shadow: 1px 1px 2px #002e1a;
}

h2 {
    color: #0A8754;
}

p {
    text-align: justify;
}