@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

:root {
    /*Cores*/
    --cor-01: #EE2E31;
    --cor-02: #184262;
    --cor-03: #145277;
    --cor-04: #F26264;
    --cor-05: #EE2E31;
    --cor-06: #000000;
    --cor-07: #909090;
    --cor-08: #FFFFFF;
    /*Fontes*/
    --fonte-01: "Afacad Flux", sans-serif;
    --fonte-02: "Arial";
}
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--fonte-01);
    background-color: var(--cor-06);
}
.cabecalho{
    background-color: var(--cor-01);
    color: var(--cor-08);
    text-align: center;
    padding: 20px 0 20px 0;
    margin-bottom: 10vh;
}
.cabecalho__titulo{
    font-weight: bold;
    font-size: 4rem;
}
.cabecalho__subtitulo{
    background-color: var(--cor-01);
    color: var(--cor-08);
    font-size: 1.35rem;
}
.conteudo-principal{
    margin: 20px 0;
}
.container-imagem{
    margin-bottom: 10vh;
}
.imagem{
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.lista{
    font-size: 1rem;
    text-align: center;

}
.lista-item{
    background-color: var(--cor-05);
    border: solid 2px var(--cor-06);
    border-radius: 20px;
    color: var(--cor-08);
    padding: 15px;
    margin: 2% 20%;
}
.item-link{
    color: var(--cor-08);
    text-decoration: none;
    margin: 20px 0;
}
.container-texto{
    text-align: center;
    margin: 50px 30px;
}
.container-texto >p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    color: var(--cor-08);
}
.container-depoimento{
    text-align: center;
    margin: 50px 30px;
}
.depoimento{
    color: var(--cor-08);
}
.depoimento-nome{
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}
.depoimento-texto{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--cor-08);
}
.container_botao-voltar{
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
}
.botao-voltar{ 
    text-decoration: none;
    background-color: var(--cor-05);
    color: var(--cor-08);
    padding: 10px;
    border-radius: 5px;
}
.rodape{
    background-color: var(--cor-08);
    font-family: var(--fonte-02);
    text-align: center;
    font-size: 0.8rem;
    padding: 20px 0;
}
.rodape__link,
.git-hub__link{
    color: var(--cor-06);
    text-decoration: none;
}
/*Hovers*/
.lista-item:hover{
    background-color: var(--cor-04)
}
.item-link:hover,
.rodape__link:hover,
.git-hub__link:hover{
    text-decoration: underline;
}
.botao-voltar:hover{
    background-color: var(--cor-04);
    color: var(--cor-08);
}

/*Fale Conosco*/
.contato-item{
    text-align: center;
}
.contato-item_link{
    text-decoration: none;
    color: var(--cor-08);
}
.contato-item_link:hover{
    background-color: F23;
    color: var(--cor-08);
    border-radius: 5px;
}

/*Nossos Planos*/
.item {
    width: 200px;
    margin-bottom: 20px;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
}
.titulo{
    padding: 30px;
    background-color:var(--cor-05);
    color: var(--cor-08);
    border-radius: 10px 10px 0 0 ;
}
.valor{
    color: var(--cor-08);
    padding: 50px 30px;
    border: solid 5px var(--cor-05);
}
.planos-introducao{
    text-align: justify;
    line-height: 1.5rem;
    color: var(--cor-08);
    border-left: 2px solid var(--cor-01);
    border-right: 2px solid var(--cor-01);
    padding: 30px;
    margin: 70px;
}
.plano-descricao{
    color: var(--cor-08);
    padding: 10px 0;
}
.nota{
    text-align: center;
}
.texto{
    text-align: justify;
    line-height: 1.5rem;
    color: var(--cor-08);
    border-left: 2px solid var(--cor-01);
    border-right: 2px solid var(--cor-01);
    border-radius: 5%;
    padding: 30px;
    margin: 70px;
}
.texto > p{
    margin: 15px;
}