* {
    margin: 0;
    padding: 0;
}
:root {
    /*Cores*/
    --cor-01: #2D1A00; /*Dark Coffee*/
    --cor-02: #593400; /*Spicy Orange*/
    --cor-03: #D3A96E; /**/
    --cor-04: #F8EDE2; /*Linen*/
    --cor-05: #0C0C0C; /*Onyx*/
    --cor-06: #C1C1C1; /*Silver*/
    --cor-07: #FFFFFF; /*White*/
    /*Fontes*/
    --fonte-principal: 'Times New Roman', Times, serif;
    --fonte-secundaria: 'Arial';
}
.corpo{
    background-color: var(--cor-07);
}
.cabecalho{
    font-family: var(--fonte-secundaria);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cabecalho-titulo{
    color: var(--cor-01);
    font-weight: 400;
    font-size: 3rem;
}
.cabecalho-subtitulo{
    background-color: var(--cor-01);
    color: var(--cor-07);
    font-size: 1rem;
    padding: 5px;
}
.conteudo-principal{
    margin: 40px 0;
    text-align: center;
}
.container-imagem-home{
    margin: 20px 0;
}
.imagem-home{
    display: block;
    margin: auto;
    height: 340px;
    width: 200px;
}
.container-lista{
    font-size: 1rem; /*classe sem estilo aplicado*/
}
.lista-item{
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-03);
    text-align: center;
    padding: 15px;
    margin: 2% 20%;
    border: solid 2px var(--cor-03);
    border-radius: 10px;
}
.lista-item:hover{
    background-color: var(--cor-02)
}
.item-link{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cor-01);
}
.lista-item:hover .item-link{
    color: var(--cor-07);
}
.container-imagem{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%;             /* Ocupa a largura total */
}
.imagem,
.imagem-home{
    border: solid 2px var(--cor-02);
    border-radius: 30px;
}
.container-arcano{
    margin: 30px;
}
.arcano-titulo{
    font-family: var(--fonte-secundaria);
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--cor-02);
}
.arcano-texto{
    text-align: justify;
    text-indent: 30px;
}
.arcano-texto>p{
    margin: 10px;
    text-indent: 30px;
}
.texto-destaque{
    font-family: var(--fonte-secundaria);
    color: var(--cor-03);
    font-weight: 900;
}
.container-botao-voltar{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.botao-voltar{ 
    font-family: var(--fonte-secundaria);
    font-weight: bold;
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--cor-07);
    background-color: var(--cor-01);
    padding: 10px;
    border: solid 2px var(--cor-01);
    border-radius: 20px;
}
.botao-voltar:hover{
    background-color: var(--cor-03);
    color: var(--cor-01);
}
.rodape {
    padding: 20px;
    background-color: var(--cor-06);
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-size: 0.8rem;
}
.rodape-desenvolvedor-link,
.rodape-hospedagem-link {
    color: var(--cor-05);
    text-decoration: none;
}
.rodape-desenvolvedor-link:hover,
.rodape-hospedagem-link:hover{
    color: var(--cor-07)
}