/*colocar links para abrir em nova aba*/

* {
    margin: 0;
    padding: 0;
}
:root {
    --cor-principal: #FFD166;
    --cor-secundaria: #F37748;
    --cor-de-fundo: #F4F3EE;
    --cor-de-destaque: #000000;
    --cor-rodape-fundo: #CAC4CE;
    --cor-rodape-borda: #463F3A;
    --fonte-principal: 'Bebas Neue', 'Times New Roman', Times, serif;
    --fonte-secundaria: 'Quicksand', Arial, Helvetica, sans-serif;
    --fonte-destaque: Arial;
}
.cabecalho{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cabecalho__titulo{
    font-weight: 400;
    font-size: 3rem;
}
.cabecalho__subtitulo{
    background-color: #1E2F23;
    color: white;
    font-size: 1rem;
    padding: 5px;
}
.conteudo-principal{
    margin: 40px 0;
    text-align: center;
}
.container-lista{
    font-size: 1rem; /*classe sem estilo aplicado*/
}
.lista-item{
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-principal);
    text-align: center;
    padding: 15px;
    margin: 2% 20%;
    border: solid 2px var(--cor-de-destaque);
    border-radius: 10px;
}
.item-link,
.video{
    text-decoration: none;
    color: black;
}
.menu-home_link:hover,
.video:hover{
    text-decoration: underline;
}
.container-imagem{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%;           /* Ocupa a largura total */
}
.imagem{
    border: solid 2px gray;
    border-radius: 30px;
}
.container-arcano{
    margin: 30px;
}
.arcano-titulo{
    margin: 10px;
}
.arcano-texto{
    text-align: justify;
    text-indent: 30px;
}
.container_botao-voltar{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.botao-voltar{ 
    text-decoration: none;
    color: black;
    background-color: var(--cor-secundaria);
    padding: 10px;
    border: solid 2px var(--cor-de-destaque);
    border-radius: 5px;
}
.botao-voltar:hover{
    background-color: #1E2F23;
    color: white;
}
.rodape {
    background-color: var(--cor-rodape-fundo);
    text-align: center;
    font-size: 1rem;
}
.rodape__link,
.git-hub__link {
    color: black;
    text-decoration: none;
}
.rodape__link:hover,
.git-hub__link:hover{
    color: #FFF
}