/*colocar links para abrir em nova aba*/

* {
    margin: 0;
    padding: 0;
}
:root {
    /*Cores*/
    --cor-01: #43281C;
    --cor-02: #F9DBBD;
    --cor-03: #FCEDDE;
    --cor-04: #E84855;
    --cor-09: #F29B9A;
    --cor-05: #0C0C0C;
    --cor-06: #B7B5B3;
    --cor-07: #FFFFFF;
    /*Fontes*/
    --fonte-principal: 'Times New Roman', Times, serif;
    --fonte-secundaria: 'Arial';
}
.cabecalho{
    font-family: var(--fonte-secundaria);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cabecalho__titulo{
    font-weight: 400;
    font-size: 3rem;
}
.cabecalho__subtitulo{
    background-color: var(--cor-01);
    color: var(--cor-07);
    font-size: 1rem;
    padding: 5px;
}
.conteudo-principal{
    margin: 40px 0;
    text-align: center;
}
.container-lista{
    font-size: 1rem; /*classe sem estilo aplicado*/
}
.lista-item{
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-03);
    text-align: center;
    padding: 15px;
    margin: 2% 20%;
    border: solid 2px var(--cor-01);
    border-radius: 10px;
}
.lista-item:hover{
    background-color: var(--cor-02);
}
.item-link{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cor-01);
}
.menu-home_link:hover,
.video:hover{
    text-decoration: underline;
}
.container-imagem{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%;             /* Ocupa a largura total */
}
.imagem{
    border: solid 2px var(--cor-06);
    border-radius: 30px;
}
.container-arcano{
    margin: 30px;
}
.arcano-titulo{
    font-family: var(--fonte-secundaria);
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--cor-04);
}
.arcano-texto{
    text-align: justify;
    text-indent: 30px;
}
.arcano-texto>p{
    margin: 10px;
    text-indent: 30px;
}
.texto-destaque{
    font-family: var(--fonte-secundaria);
    color: var(--cor-04);
    font-weight: 900;
}
.container_botao-voltar{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.botao-voltar{ 
    font-family: var(--fonte-secundaria);
    font-weight: bold;
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--cor-07);
    background-color: var(--cor-01);
    padding: 10px;
    border: solid 2px var(--cor-01);
    border-radius: 20px;
}
.botao-voltar:hover{
    background-color: var(--cor-09);
    color: var(--cor-01);
}
.rodape {
    padding: 20px;
    background-color: var(--cor-06);
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-size: 0.8rem;
}
.rodape__link,
.git-hub__link {
    color: var(--cor-05);
    text-decoration: none;
}
.rodape__link:hover,
.git-hub__link:hover{
    color: var(--cor-07)
}