* {
    padding: 0;
    margin: 0;
  }
  main {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    margin: 50px;
  }
  .imagem-panda-vermelho {
    width: 140px;
    height: 140px;
    border: 1px solid white;
    border-radius: 2px;
    margin: 10px;
    background: lightblue;
  }
  
  #teste-01 {
    object-fit: none;
  }
  #teste-02 {
    object-fit: fill;
  }
  #teste-03 {
    object-fit: contain;
  }
  #teste-04 {
    object-fit: cover;
  }
  #teste-05 {
    object-fit: scale-down;
  }